@import "../../config/styles/mixins.scss";
@import "../../config/styles/color.scss";
@import "~bootstrap/scss/bootstrap";

.item-content {
  @include displayFlex(row, center, center);
  height: 91vh;
  background-image: url("./img/endless-constellation\ \(1\).svg");
  background-position: center;
  background-size: 30%;
  background-repeat: repeat;
  * {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .carousel-control-next {
    justify-content: end;
    background-color: red;
  }
  .project-element {
    padding: 1rem;
    width: 550px;
    height: 600px;
    background-color: $primary-font-color;
    color: $primary-font-color;
    border-radius: 5px;
    border: 5px solid $magenta;
    .carousel-control-next {
      justify-content: start;
      background-color: transparent;
    }
    .carousel-control-prev {
      justify-content: end;
    }
    .img-project {
      img {
        width: 100%;
        max-height: 270px;
      }
    }
    .project-information {
      h1 {
        color: #fff;
      }
      .project-information-title {
        @include displayFlex(row, space-between, center);
        border-bottom: 2px solid $magenta;
        .project-information-content-one {
          @include displayFlex(row, start, center);
          h1 {
            margin-top: 1rem;
            padding: 1rem;
            padding-left: 1.5rem;
            font-size: 1.7rem;
          }
          a {
            margin-top: 1rem;
            padding: 1rem;
            padding-left: 0rem;
            .icon-element {
              color: $magenta;
            }
          }
        }
        .project-information-content-two {
          .icon-element {
            color: $magenta;
          }
        }
      }
      .skill-content {
        .skill-content-title {
          h1 {
            padding: 1rem;
            font-size: 1.3rem;
            padding-left: 1.5rem;
          }
        }
        .skill-list-content {
          @include displayFlex(row, start, center);
          .icon-element {
            margin-right: 1rem;
          }
        }
      }
      .sumario-content {
        .sumario-content-title {
          h1 {
            margin-top: 1rem;
            padding: 1rem;
            padding-left: 1.5rem;
            font-size: 1.6rem;
          }
        }
        .sumario {
          p {
            padding: 1rem;
            padding-top: 0px;
            padding-left: 1.5rem;
            font-size: 1.3rem;
            color: #fff;
          }
        }
      }
    }
  }
  @media (max-height: 800px) {
    .project-element {
      padding: 1rem;
      width: 460px;
      height: 530px;
      background-color: $primary-font-color;
      color: $primary-font-color;
      border-radius: 5px;
      border: 5px solid $magenta;
      .img-project {
        img {
          width: 100%;
          max-height: 270px;
        }
      }
      .project-information {
        h1 {
          color: #fff;
        }
        .project-information-title {
          @include displayFlex(row, space-between, center);
          border-bottom: 2px solid $magenta;
          .project-information-content-one {
            @include displayFlex(row, start, center);
            h1 {
              margin-top: 0.5rem;
              padding: 1rem;
              padding-left: 1.5rem;
              font-size: 1.7rem;
            }
            a {
              margin-top: 1rem;
              padding: 1rem;
              padding-left: 0rem;
              .icon-element {
                color: $magenta;
              }
            }
          }
          .project-information-content-two {
            .icon-element {
              color: $magenta;
            }
          }
        }
        .skill-content {
          .skill-content-title {
            h1 {
              padding: 1rem;
              padding-bottom: 0;
              font-size: 1.3rem;
              padding-left: 1.5rem;
            }
          }
          .skill-list-content {
            @include displayFlex(row, start, center);
            .icon-element {
              margin-right: 1rem;
              width: 20px;
            }
          }
        }
        .sumario-content {
          .sumario-content-title {
            h1 {
              margin-top: 0.5rem;
              padding: 1rem;
              padding-bottom: 0;
              padding-left: 1.5rem;
              font-size: 1.4rem;
            }
          }
          .sumario {
            p {
              padding: 0.5rem;
              padding-top: 0px;
              padding-left: 1.5rem;
              font-size: 1.2rem;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    padding: 5rem;
    .project-element {
      padding: 1rem;
      width: 550px;
      height: 600px;
    }
  }
  @media (max-width: 600px) {
    padding: 3rem;
    .project-element {
      padding: 1rem;
      width: 550px;
      height: 600px;
    }
  }
}
